---
name: "tagged-release"

# yamllint disable-line rule:truthy
on:
  push:
    tags:
      - "*"

jobs:
  tagged-release:
    name: tagged-release
    runs-on: ubuntu-24.04

    steps:
      - name: Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          generate_release_notes: true
          make_latest: "true"
